%section.pickup
  %h2.head ピックアップカテゴリー
  .pickupbox
    .pickuphead
      = link_to "#" do
        %h3.title 新規投稿商品
    .pickuplists
      .pickuplist
        = link_to "#" do
          %figure.pickuplist--image
            = image_tag ("IMG_9072.jpeg"), class:"new-img"
        .pickuplist__body
          %h3.name ee
          .detail
            %ul
              %li 1000円
              %li
                %i.fa.fa-star.likeIcon
                  0
            %p (税込)
      .pickuplist
        = link_to "#" do
          %figure.pickuplist--image
            = image_tag ("IMG_9072.jpeg"), class:"new-img"
        .pickuplist__body
          %h3.name ee
          .detail
            %ul
              %li 1000円
              %li
                %i.fa.fa-star.likeIcon
                  0
            %p (税込)
      .pickuplist
        = link_to "#" do
          %figure.pickuplist--image
            = image_tag ("IMG_9072.jpeg"), class:"new-img"
        .pickuplist__body
          %h3.name ee
          .detail
            %ul
              %li 1000円
              %li
                %i.fa.fa-star.likeIcon
                  0
            %p (税込)
      .pickuplist
        = link_to "#" do
          %figure.pickuplist--image
            = image_tag ("IMG_9072.jpeg"), class:"new-img"
        .pickuplist__body
          %h3.name ee
          .detail
            %ul
              %li 1000円
              %li
                %i.fa.fa-star.likeIcon
                  1
            %p (税込)