%section.pickup
  %h2.head ピックアップカテゴリー
  .pickupbox
    .pickuphead
      = link_to "#" do
        %h3.title 新規投稿商品
    .pickuplists
      .pickuplist
        - @products.each do |product|
          = link_to product_path(product) do
            %figure.pickuplist--image
              = image_tag product.images.first.image.url, alt: "image_url", class:"new-img"
                - if product.buyer_id.present?
                .items-box_photo__sold
                  .items-box_photo__sold__inner SOLD
            .pickuplist__body
              %h3.name
                = product.name
              .detail
                %ul
                  %li
                    = product.price
                    円
                  %li
                    ☆
                    0
                %ul
                  %li
                    %p (税込)
                  %li
