.container__side-bar
  .container__side-bar__information
    = link_to mypage_index_path do
      .container__side-bar__information__detail__title
        %p マイページ
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 出品する
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 出品した商品−出品中
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 出品した商品−取引中
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 出品した商品−売却済
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 購入した商品−取引中
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 購入した商品−過去の取引
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 購入した商品−売却済
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p 評価一覧
        %i.fas.fa-chevron-right
    = link_to "#" do
      .container__side-bar__information__detail
        %p お問い合わせ
        %i.fas.fa-chevron-right

    .container__side-bar__paymemt
      .container__side-bar__paymemt__title
        %p FURIペイ
      = link_to "#" do
        .container__side-bar__paymemt__detail
          %p 売り上げ・振り込み申請
          %i.fas.fa-chevron-right
      = link_to "#" do
        .container__side-bar__paymemt__detail
          %p ポイント
          %i.fas.fa-chevron-right
      .container__side-bar__configuration
        = link_to "#" do
          .container__side-bar__configuration__title
            %p 設定
        = link_to "#" do
          .container__side-bar__configuration__detail
            %p プロフィール
            %i.fas.fa-chevron-right
        = link_to "#" do
          .container__side-bar__configuration__detail
            %p 発送元・お届け先住所変更
            %i.fas.fa-chevron-right
        = link_to new_card_path do
          .container__side-bar__configuration__detail
            %p お支払い方法
            %i.fas.fa-chevron-right
        = link_to "#" do
          .container__side-bar__configuration__detail
            %p 本人情報確認・変更
            %i.fas.fa-chevron-right
        = link_to logout_index_path do
          .container__side-bar__configuration__detail
            %p ログアウト
            %i.fas.fa-chevron-right