.items__item
  = link_to product_path(@product), data: {turbolinks: "false"} do
    .items__item__image
      = image_tag @product.images[1].image.url, alt: "画像"
    .items__item__info
      .items__item__info__name
        = @product.name
      .items__item__info__price
        = "¥#{@product.price.to_i.to_s(:delimited)}"