.main
  = render 'shared/mainup'
  = render 'shared/topmain'
  = render 'shared/topmiddle'
  = render 'shared/topkey'
  = render 'shared/pickupC'
  = render 'shared/pickupB'
  = render 'shared/downmain'
  = render 'shared/exhibition'