%head
  %meta{"charset":"UTF-8"}
  %link{"href": "products.css", "rel": "stylesheet"}
  %title Furima
%body
  .main
    .main-contents
      = form_with model: @product, local: true do |f|
        .main-contents__image
          %ul.main-contents__image__title
            %li.main-contents__image__title__main 出品画像
            %li.main-contents__image__title__sub 必須
          #image-box
            #previews
              - if @product.persisted?
                - @product.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            = f.fields_for :images do |i|
              .main-contents__image__photo{"data-index" => "#{i.index}"}
                = i.file_field :image, class:'main-contents__image__photo__picture'
                %br/
                %span.main-contents__image__remove 削除
              - if @product.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @product.persisted?
              .js-file_group{"data-index" => "#{@product.images.count}"}
                = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
                .js-remove 削除
        .main-contents__product
          .main-contents__product-name
            %ul.main-contents__product-name__title
              %li.main-contents__product-name__title__main 商品名
              %li.main-contents__product-name__title__sub 必須
            = f.text_field :name, class: 'main-contents__product-name__text'
          .main-contents__product-explanation
            %ul.main-contents__product-explanation__title
              %li.main-contents__product-explanation__title__main 商品の説明
              %li.main-contents__product-explanation__title__sub 必須
            = f.text_area :text, class: 'main-contents__product-explanation__text'
        .main-contents__detail
          .main-contents__detail__category
            %ul.main-contents__detail__category__title
              %li.main-contents__detail__category__title__main カテゴリー
              %li.main-contents__detail__category__title__sub 必須
            .main-contents__detail__category__choose
              = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
          .main-contents__detail__brand
            %ul.main-contents__detail__brand__title
              %li.main-contents__detail__brand__title__main ブランド
              %li.main-contents__detail__brand__title__sub 任意
            = f.collection_select :brand_id, Brand.all, :id, :name, {include_blank: "選択して下さい"}, {class: 'main-contents__detail__brand__text'}
          .main-contents__detail__status
            %ul.main-contents__detail__status__title
              %li.main-contents__detail__status__title__main 商品の状態
              %li.main-contents__detail__status__title__sub 必須
            = f.collection_select :status_id, Status.all, :id, :name, {include_blank: "選択して下さい"}, {class: 'main-contents__detail__status__text'}
        .main-contents__shipping
          .main-contents__shipping__postage
            %ul.main-contents__shipping__postage__title
              %li.main-contents__shipping__postage__title__main 配送料の負担
              %li.main-contents__shipping__postage__title__sub 必須
            = f.select :postage, {'送料込み(出品者負担)': 1, '着払い(購入者負担)': 2}, { include_blank: '選択して下さい'}, {class: 'main-contents__shipping__postage__text'}
          .main-contents__shipping__area
            %ul.main-contents__shipping__area__title
              %li.main-contents__shipping__area__title__main 発送元の地域
              %li.main-contents__shipping__area__title__sub 必須
            = f.collection_select :area, Prefecture.all, :id, :name, {include_blank: "選択して下さい"}, {class: 'main-contents__shipping__area__text'}
          .main-contents__shipping__day
            %ul.main-contents__shipping__day__title
              %li.main-contents__shipping__day__title__main 発送までの日数
              %li.main-contents__shipping__day__title__sub 必須
            = f.collection_select :day_id, Day.all, :id, :name, {include_blank: "選択して下さい"}, {class: 'main-contents__shipping__day__text'}
        .main-contents__price
          .main-contents__price__title
            .main-contents__price__title__main
              販売価格
            .main-contents__price__title__sub
              必須 
            %a.main-contents__price__title__form
              ¥
            = f.number_field :price, placeholder: "例) 300", class: 'main-contents__price__title__box', id: 'price_calc'
          .main-contents__price-fee
            販売手数料(10%)
            %a.main-contents__price-fee__right-bar
          .main-contents__price__profit
            販売利益
            %a.main-contents__price__profit-calculation__right-bar
              .main-contents__price__profit-calculation
                = f.number_field :price, style: "display: none", id: "price"
        .main-contents__button
          = f.submit '出品する', class: 'main-contents__button__sell'